<a href="https://colab.research.google.com/github/Vanshbhattok/AIML-Experiment-6/blob/main/AIML%20Experiment-6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
#Experiment-6 of AIML

import pandas as pd
import numpy as np

#create a sample dataset
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 30, 35, 40, 45],
    'Gender': ['F', 'M', 'M', 'M', 'F'],
    'Marks': [85, 90, 78, 92,100], # Added 'Marks' column
    'Address': ['123 Main St', '456 Oak Ave', '789 Pine Ln', '101 Elm St', '222 Maple Rd'], # Adjusted length to match other columns
    'City': ['Los Angeles', 'New York', 'Houston', 'Los Angeles', 'Miami'], # Adjusted length to match other columns
    'Rank': [2, 1, 4, 3, 8], # Adjusted length to match other columns
    'Grade': ['B', 'A', 'C', 'B', 'D'] # Adjusted length to match other columns
}

#create a pandas dataframe from the dataset

df = pd.DataFrame(data)
print("Sample DataFrame:")

print(df)

df.head(4)  #Printed 4 records from the dataset and generated the related graphs

df.info()   #Getting information on the dataset content

df.isna().sum()

#listwise deletion
df_listwise = df.dropna()
print("\nDataFrame after listwise deletion:")
print(df_listwise)

# Mean Imputation
df_mean_imputed = df.copy()
mean_marks = df_mean_imputed['Marks'].mean()
mean_marks = df_mean_imputed['Marks'].mean()
df_mean_imputed['Marks'].fillna(mean_marks, inplace=True)

print("\nDataFrame after mean imputation:")
print(df_mean_imputed)
df_mean_imputed['Marks'].fillna(mean_marks, inplace=True)

print("\nDataFrame after mean imputation:")
print(df_mean_imputed)


#Outliers detection method:-

from scipy import stats

#calculate z-scores
z_scores = np.abs(stats.zscore(df['Marks']))
threshold = 80 #define a threshold for Z-score
outliers = np.where(z_scores > threshold)

print("\nOutliers based on Z-score:")
print(df.iloc[outliers])


outliers

#IOR method
Q1 = df['Marks'].quantile(0.25)
Q3 = df['Marks'].quantile(0.75)
IQR = Q3 - Q1

# define bounds for outliers
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# identify outliers
outliers = df[(df['Marks'] < lower_bound) | (df['Marks'] > upper_bound)]

# remove outliers
df_cleaned = df[(df['Marks'] >= lower_bound) & (df['Marks'] <= upper_bound)]

print("\nDataFrame after removing outliers (IQR method):")
print(df_cleaned)

Sample DataFrame:
      Name  Age Gender  Marks       Address         City  Rank Grade
0    Alice   25      F     85   123 Main St  Los Angeles     2     B
1      Bob   30      M     90   456 Oak Ave     New York     1     A
2  Charlie   35      M     78   789 Pine Ln      Houston     4     C
3    David   40      M     92    101 Elm St  Los Angeles     3     B
4      Eve   45      F    100  222 Maple Rd        Miami     8     D
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     5 non-null      object
 1   Age      5 non-null      int64
 2   Gender   5 non-null      object
 3   Marks    5 non-null      int64
 4   Address  5 non-null      object
 5   City     5 non-null      object
 6   Rank     5 non-null      int64
 7   Grade    5 non-null      object
dtypes: int64(3), object(5)
memory usage: 448.0+ bytes

DataFrame after listwise deletion:
      Name  Age Gender  Marks       Address         City  Rank Grade
0    Alice   25      F     85   123 Main St  Los Angeles     2     B
1      Bob   30      M     90   456 Oak Ave     New York     1     A
2  Charlie   35      M     78   789 Pine Ln      Houston     4     C
3    David   40      M     92    101 Elm St  Los Angeles     3     B
4      Eve   45      F    100  222 Maple Rd        Miami     8     D

DataFrame after mean imputation:
      Name  Age Gender  Marks       Address         City  Rank Grade
0    Alice   25      F     85   123 Main St  Los Angeles     2     B
1      Bob   30      M     90   456 Oak Ave     New York     1     A
2  Charlie   35      M     78   789 Pine Ln      Houston     4     C
3    David   40      M     92    101 Elm St  Los Angeles     3     B
4      Eve   45      F    100  222 Maple Rd        Miami     8     D

DataFrame after mean imputation:
      Name  Age Gender  Marks       Address         City  Rank Grade
0    Alice   25      F     85   123 Main St  Los Angeles     2     B
1      Bob   30      M     90   456 Oak Ave     New York     1     A
2  Charlie   35      M     78   789 Pine Ln      Houston     4     C
3    David   40      M     92    101 Elm St  Los Angeles     3     B
4      Eve   45      F    100  222 Maple Rd        Miami     8     D

Outliers based on Z-score:
Empty DataFrame
Columns: [Name, Age, Gender, Marks, Address, City, Rank, Grade]
Index: []

DataFrame after removing outliers (IQR method):
      Name  Age Gender  Marks       Address         City  Rank Grade
0    Alice   25      F     85   123 Main St  Los Angeles     2     B
1      Bob   30      M     90   456 Oak Ave     New York     1     A
2  Charlie   35      M     78   789 Pine Ln      Houston     4     C
3    David   40      M     92    101 Elm St  Los Angeles     3     B
4      Eve   45      F    100  222 Maple Rd        Miami     8     D